.auth-card {
  padding: 20px;
  background-color: white;
  width: 500px;
  margin: 30px auto;
  border-radius: 10px;

  h3 {
    font-size: 19px;
    font-weight: 500;
    color: var(--color-base-text);
  }

  p {
    font-size: 13px;
    color: var(--color-base-text);
  }

  input.form-control {
    height: 50px;
    background-color: var(--color-bg-home-wrapper);
    color: var(--color-base-text);
    font-size: 14px;
    border-radius: 10px;
    border-color: transparent;
  }

  a {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-text-product);
  }
}