.single-blog-card{
  h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--color-text-product);
  }

  p{
    color: var(--color-base-text);
    font-size: 14px;
  }

  a{
    font-size: 15px;
    color: var(--color-base-text);
    margin-bottom: 20px;
  }
}