.review {
  &-avatar>div {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .date {
    color: var(--color-base-text);
    font-size: 14px;
  }
}