.user-info-section {
  background-color: white;
  padding-bottom: 40px;

  .avatar-and-username-wrapper {
    padding: 40px 80px;
    border-bottom: 1px solid var(--color-base-text);

    .user-avatar {
      height: 200px;
      overflow: hidden;

      img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .username-welcome {
      font-size: 30px;
      font-weight: 600;
      text-transform: capitalize;

      span {
        color: var(--color-h4-header-banner);
      }

      .roll {
        font-size: 18px;
        font-weight: 400;
        margin-top: 30px;
      }
    }

  }

  .user-info-list {
    padding: 40px 100px;
    font-size: 16px;

    .user-info-line {
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex;
      align-items: center;

      span:first-child {
        font-weight: 600;
        width: 40%;
      }

      span:last-child {
        width: 60%;
        word-wrap: break-word;
      }

      &.one-line {
        span:first-child {
          font-weight: 600;
          width: 19%;
        }

        span:last-child {
          width: 81%;
          word-wrap: break-word;
        }
      }
    }
  }
}