.letter-icon {
  display: inline-block;
  text-align: center;

  .circle {
    border: 1px solid #D3D3D3;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .letter {
    color: #D3D3D3;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}