.filter-card {
  background-color: white;
  border-radius: 10px;
  padding: 15px 15px 25px;

  & .filter-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: var(--color-text-product);
    margin-bottom: 20px;
  }

  & ul,
  .form-check-label {
    list-style-type: none;
    padding-left: 5px;
    font-size: 13px;
    line-height: 30px;
    color: var(--color-base-text);
    cursor: pointer;
  }

  .category-active{
    font-weight: 600;
  }

  & .form-check-input:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0.25);
  }

  & .form-check-input:checked {
    background-color: var(--color-bg-input-header);
    border-color: var(--color-bg-input-header);

  }

  & .sub-title {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-text-product);
    margin-bottom: 15px;
    margin-top: 15px;
  }


  .random-products h5 {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .random-products:first-child {
    border-bottom: 1px solid var(--color-border-categories);
  }
}

.filter-sort-grid {
  padding: 10px;
  background-color: white;
  border-radius: 10px;

  .grid svg {
    width: 35px;
    height: 35px;
    background-color: #f2f2f2;
    padding: 8px;
    border-radius: 3px;
    cursor: pointer;

    &.active {
      background-color: var(--color-base-text);
    }
  }
}