.colors {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 0px;

  & li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    &.color-active{
      border: 2px solid var(--color-h4-header-banner);
    }
  }

}