.quantity_checkout{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  background-color: var(--color-h4-header-banner);
  color: white;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;

}