.cart-header {
  border-bottom: 1px solid #eaeaea;
  background-color: var(--color-base-text);
  padding-left: 15px;

  h4 {
    font-size: 13px;
    color: white;
    margin-bottom: 0;
  }

}

.cart-col {

  &-0{
    width: 5%;
  }

  &-1 {
    width: 35%;

    p {
      color: var(--color-base-text);
      font-size: 14px;
      margin-bottom: 0px;
    }
  }

  &-2 {
    width: 10%;
  }

  &-3 {
    width: 15%;
  }

  &-4 {
    width: 15%;
  }

  &-5 {
    width: 5%;
  }
}