.main-product-image {
  padding: 20px;
  background-color: white;
  border-radius: 10px;

  >div {
    border: 1px solid rgba(0, 0, 0, 0.25);
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

}


.other-product-images {
  background-color: white;
  padding: 20px;

  >div {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 100px;
  }
}

.main-product-details {
  padding: 30px 20px;
  background-color: white;
  border-radius: 10px;

  .border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }

  .accordion-item {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }

  .accordion-button:focus {
    border: none;
    background-color: white;
    outline: none;
    box-shadow: none;
  }


  h3.title {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-text-product);
  }

  p.price {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  a.review-btn,
  p.t-review {
    color: var(--color-base-text);
    font-size: 13px;
  }

  .product-heading {
    font-size: 14px;
    color: var(--color-text-product);
    margin-bottom: 0px;
    line-height: 20px;
  }

  .product-data {
    font-size: 13px;
    color: var(--color-base-text);
    margin-bottom: 0px;
    line-height: 20px;

  }

  .size-wrapper {
    cursor: pointer;
    .size-active{
      background-color: var(--color-text-product)!important;
      color: var(--color-border-categories)!important;
    }
  }
}

.description-wrapper {
  padding-bottom: 0px !important;
  padding-top: 0px !important;

  h4 {
    font-size: 26px;
    color: var(--color-text-product);
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    color: var(--color-base-text);
  }
}

.review-wrapper {
  h4 {
    font-size: 26px;
    color: var(--color-text-product);
    margin-bottom: 10px;

  }
}


.review-inner-wrapper {
  background-color: white;
  padding: 30px;
}

.review-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;

  .rating-star {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-h4-header-banner);
  }

  h4 {
    font-size: 18px;
    color: var(--color-text-product);
  }

  p,
  span {
    font-size: 14px;
    color: var(--color-base-text);
  }

  span {
    cursor: pointer;
  }
}

.review-form {
  h4 {
    font-size: 16px;
    color: var(--color-base-text);
  }
}