.compare-product-card {
  padding: 20px 15px;
  background-color: white;
  border-radius: 10px;

  .cross {
    top: 15px;
    right: 15px;
    cursor: pointer;
  }

  .product-card-image {
    height: 200px;

    img {
      object-fit: cover;
      max-width: auto;
      height: 100%;
    }
  }

  .compare-product-details h5.title {
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    color: var(--color-text-product);
  }

  .compare-product-details h6.price {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
  }

  .product-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    h5 {
      font-size: 15px;
      margin-bottom: 0px;
    }

    p {
      margin-bottom: 0px;
    }
  }

}