.categories {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;

  &>div {
    width: 19%;
    padding: 10px 10px 10px 20px;
  }
  & > div:not(:last-child){
    border-right: 1px solid var(--color-border-categories);
  }


  & .category-img {
    height: 90px;
    width: 40%;

    & img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}