.contact-inner-wrapper {
  padding: 20px;
  border-radius: 15px;
  background-color: white;
  gap: 15px;

  >div {
    width: 48%;
  }

  .contact-title {
    font-size: 26px;
    font-weight: 500;
    line-height: 35px;
    text-align: left;
  }

  form .form-control {
    background-color: var(--color-bg-home-wrapper);
    border-radius: 10px;
    border-color: transparent;
    padding: 10px;
  }

  ul {
    list-style: none;

    & address,
    & a,
    & p {
      color: var(--color-base-text);
    }
  }
}