.main-banner {
  height: 100%;

  & img {
    width: auto;
    height: 100%;
    object-fit: cover;
  }
}

.main-banner-content {
  top: 15%;
  left: 5%;

  & h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-h4-header-banner);
    margin: 0 0 12px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
  }

  & h5 {
    font-size: 42px;
    line-height: 54px;
    letter-spacing: -2px;
    font-weight: 500;
    text-transform: none;
  }

  & p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.4;
    color: var(--color-bg-header-strip);
  }
}

.small-banner-content {
  top: 15%;
  left: 5%;

  & h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-h4-header-banner);
    margin: 0 0 12px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
  }

  & h5 {
    font-size: 22px;
    line-height: 34px;
    letter-spacing: -2px;
    font-weight: 500;
    text-transform: none;
  }

  & p {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.4;
    color: var(--color-bg-header-strip);
  }

}

.small-banner-list {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;

  & .small-banner {
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

}

.home-wrapper-2 {
  background-color: var(--color-bg-home-wrapper);
}

.categories {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;

  &>div {
    width: 19%;
  }


  & .category-img {
    height: 90px;
    width: 40%;

    & img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

.rfm-marquee-container {
  & .brand-logo {
    max-width: 160px;
    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }


}

.collection_name{
  margin: 0px 0px 15px 10px;
  border-left: 6px solid var(--color-h4-header-banner);
  font-size: 18px;
  font-weight: 500;
  background: var(--color-border-categories);
}