.special-product-card {
  padding: 10px;
  border-radius: 10px;
  background-color: white;

  & .product-image {
    height: 300px;

    & img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }
}

.timer {
  width: 2rem;
  height: 2rem;
  line-height: 1.5rem;
}

.discount-price-card {
  display: inline-block;
  position: relative;
  margin-left: 10px;
  color: red;

  span {
    position: absolute;
    top: -10px;
    right: -18px;
    font-size: 10px;
    font-weight: 600;
  }
}