.total {
  font-size: 16px;
  color: var(--color-text-product);

  &-price {
    font-size: 16px;
    color: var(--color-base-text);
  }
}

.button{
  img{
    border-radius: 20px;
    width: 60px;
    height: 60px;
  }
}