.header-top-strip {
  border-bottom: 1px solid var(--color-border-header);
  background-color: var(--color-bg-header-strip);
}

.header-upper {
  background-color: var(--color-bg-header-strip);

  & .input-group-text {
    background-color: var(--color-bg-input-header);
  }
}

.header-bottom {
  background-color: var(--color-bg-bottom-header);
}

.menu-links a,
.dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: capitalize;
}

.dropdown button:focus {
  box-shadow: none;
}


.dropdown-menu {
  background-color: var(--color-bg-header-strip);
  width: 100%;
  padding: 0;
  transform: translateY(51px) !important;
}

.dropdown-item {
  padding: 20px;
  margin-bottom: 0px;

  &:hover {
    background-color: transparent;
    color: var(--color-bg-input-header) !important;
  }
}

.dropdown.no-dropdown-toggle {
  button.dropdown-toggle::after {
    display: none;
  }
}

#pagination-example {
  .dropdown-item {
    background-color: white;
  }
}


.number-cart{
  bottom: 60%;
  left: 70%;
  background-color: var(--color-h4-header-banner);
  border-radius: 50%;
  color: white;
  
}

.image-logo{
  width: 100%;
  height: 60px;
  object-fit: cover;
}