a {
  text-decoration: none;
  display: inline-block;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}


.button {
  background-color: var(--color-bg-bottom-header);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;

  &:hover {
    background-color: var(--color-bg-input-header);
    color: #131921;
  }
}


.card-wrapper {
  background-color: white;
  box-shadow: 0 0 10px var(--color-box-shadow);
  padding: 15px;
}

.section-heading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

.overlay {
  position: absolute;
  /* Sit on top of the page content */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  cursor: pointer;

  &.color-red {
    background-color: rgba(143, 81, 81, 0.3);
  }
}

.signup {
  background-color: var(--color-bg-input-header);
  color: var(--color-bg-header-strip);

  &:hover {
    background-color: var(--color-bg-header-strip);
    color: white;
  }
}

.box-shadown {
  box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}

.rounded {
  &-5 {
    border-radius: 5px;

  }
}

.error{
  font-size: 14px;
  color: var(--color-h4-header-banner);
}