:root{
  --color-box-shadow: #0000001a;
  --color-bg-header-strip: #131921;
  --color-border-header: #3b4149;
  --color-bg-input-header: #febd69;
  --color-bg-bottom-header: #232f3e;


  // banner
  --color-h4-header-banner: #bf4800;

  // home wrapper
  --color-bg-home-wrapper: #f5f5f7;

  // categories wrapper
  --color-border-categories: #ededed;

  // blog sesion
  --color-base-text: #777777;

  // product card
  --color-text-product: #1c1c1b;
}