footer{
  background-color: var(--color-bg-bottom-header);

  &:not(:nth-child(1)){
    border-top: 1px solid rgba(255,255,255, 0.1);
  }

  & .input-group-text{
    background-color: var(--color-bg-bottom-header);
    color: white;
    padding: 8px 17px;
  }
}