.blog-card {
  background-color: white;
  border-radius: 10px;

  & img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  & .blog-content {
    padding: 15px;
    text-align: justify;
    & .date{
      font-size: 13px;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 0;
      font-weight: 400;
      color: var(--color-base-text);
      padding: 0;
    }
    
    & h5{
      font-size: 18px;
      color: var(--color-bg-header-strip);
    }

    & p.desc{
      font-size: 13px;
      line-height: 22px;
      color: var(--color-base-text);
    }
  }
}