.famous-card {
  border-radius: 10px;
  overflow: hidden;
  transition: all .3s;

  &:hover {
    transform: translateY(-10px);
  }

  & .famous-card-image {
    max-height: 550px;
    height: 450px;
    padding: 15px;

    & img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & .famous-content {
    top: 10%;
    left: 15px;
    z-index: 998;
    margin-right: 15px;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & h5 {
      font-size: 13px;
      line-height: 20px;
      font-weight: 400;
      color: white;
      margin-bottom: 7px;
      text-transform: uppercase;
    }

    & h6 {
      font-size: 24px;
      line-height: 38px;
      font-weight: 500;
      color: white;
    }

    & p {
      font-size: 16px;
      line-height: 24px;
      font-weight: 100;
      color: white;
    }
  }
}