.product-card {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;


  &:hover .action-bar {
    right: 15px;
  }

  & .product-image {
    height: 200px;

    & img {
      max-width: 100%;
      max-height: 200px;
      object-fit: contain;
    }
  }

  & .product-details h6.brand {
    color: var(--color-h4-header-banner);
    font-size: 13px;
  }

  & .product-details h5 {
    color: var(--color-text-product);
    font-size: 15px;
  }

  & .product-details p.price {
    font-size: 16px;
    color: var(--color-text-product);
    margin-bottom: 8px;

    &.active :first-child {
      text-decoration: line-through;
      font-size: 14px;
      color: red;
    }

    .sold_out {
      background-color: red;
      color: white;
      padding: 2px 4px;
      border-radius: 10px;
      font-size: 13px;
    }
  }

  & .product-details p.discount-price {
    font-size: 16px;
    color: var(--color-text-product);
    margin-bottom: 0;
  }

  & .wishlist-icon {
    top: 2%;
    right: 15px;
  }

  & .action-bar {
    top: 10%;
    right: -20px;
    transition: .3s all;
  }

  p.product-description {
    font-size: 13px;
    color: var(--color-base-text);
    padding-right: 30px;
    text-align: justify;
  }
}

.grid-3 {
  width: 24%;
}

.grid-12 {
  width: 100%;

  .product-card {
    display: flex;
    gap: 20px;
  }

  .action-bar {
    top: 15%;
  }

  .product-image {
    width: 500px;
    height: auto;
  }

}

.discount {
  top: 4%;
  left: 15px;

  .sale {
    display: inline-block;
    background: red;
    color: yellow;
    font-weight: 500;
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5rem;
    font-size: 12px;
    transform: rotate(-20deg);
    animation: beat .8s ease infinite alternate;

    &:before,
    &:after {
      content: "";
      position: absolute;
      background: inherit;
      height: inherit;
      width: inherit;
      top: 0;
      left: 0;
      z-index: -1;
      transform: rotate(30deg);
    }

    &:after {
      transform: rotate(60deg);
    }
  }

  @keyframes beat {
    from {
      transform: rotate(-20deg) scale(0.9);
    }

    to {
      transform: rotate(-20deg) scale(1.1);
    }
  }
}